.button {
  @include reset-btn;
  font-size: 13px;
  line-height: 1.3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  background: linear-gradient(94.85deg, #f71614 20.34%, #c80300 91.11%);
  box-shadow: 0px 4px 0px #ab0300;
  border-radius: 177px;
  @include max-width(255px);
  min-height: 60px;
  overflow: hidden;
  position: relative;

  @media (max-width: 650px) {
    font-size: 13px;
  }

  &_file {
    padding-right: 79px;
    padding-left: 28px;

    &::before {
      content: url('/src/img/icons/form/docs.svg');
      position: absolute;
      top: 10px;
      right: 45px;
    }
  }

  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.35),
        rgba(255, 255, 255, 0.35)
      ),
      linear-gradient(94.85deg, #f71614 20.34%, #c80300 91.11%);
  }

  &:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(94.85deg, #f71614 20.34%, #c80300 91.11%);
    box-shadow: none;
    top: 4px;
  }

  &::after {
    content: '';
    margin-left: 60px;
    width: 25px;
    height: 300px;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#fff),
      to(hsla(0, 0%, 100%, 0.01))
    );
    background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0.01));
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    position: absolute;
    left: -90px;
    top: -150px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 0;
  }

  @-webkit-keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }

  @keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }
}
