.modal-form {
  background: #ffffff;
  box-shadow: 0px 2px 32px rgba(60, 107, 116, 0.15);
  border-radius: 24px;
  @include max-width(445px);
  position: relative;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 29px;
  padding-bottom: 29px;

  @media (max-width: 650px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.modal-form__title {
  margin-bottom: 33px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3;
  text-align: center;
  width: 122%;
  position: relative;
  @include x-align;

  @media (max-width: 650px) {
    font-size: 20px;
    width: 100%;
  }
}

.modal-form__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 10px;
}

.modal-form__input-container {
  display: flex;
  gap: 34px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.modal-form__input-box {
  border: 1px solid rgba(#a9a9a9, 0.5);
  min-height: 60px;
  border-radius: 8px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-right: 10px;

  @for $i from 1 through 3 {
    &:nth-child(#{$i})::before {
      background-image: url('/src/img/icons/form/#{$i}.svg');
    }
  }

  &::before {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 5px solid white;
    content: '';
    background-color: white;
    @include bg;
    position: absolute;
    left: -16.5px;
    top: -16.5px;
  }
}

.modal-form__input {
  width: 100%;
  font-weight: 100;
  font-size: 16px;
  color: #121212;
  outline: none;
  border: none;

  &::-webkit-input-placeholder {
    color: rgba(#121212, 0.5);
    font-style: italic;
  }

  &::-moz-placeholder {
    color: rgba(#121212, 0.5);
    font-style: italic;
  }

  &:-ms-input-placeholder {
    color: rgba(#121212, 0.5);
    font-style: italic;
  }

  &:-moz-placeholder {
    color: rgba(#121212, 0.5);
    font-style: italic;
  }
}

.modal-form__text {
  text-align: center;
  font-weight: 100;
  font-size: 12px;
  color: #121212;
  opacity: 0.5;
  margin-bottom: 0;

  @media (max-width: 650px) {
    font-size: 12px !important;
  }

  button {
    @include reset-btn;
    color: #121212;
    opacity: 0.5;
    text-decoration: underline;
  }
}

.modal-form__btn {
  max-width: 100%;
}
