.rest {
  padding-bottom: 32px;
  background-color: white;
  position: relative;
  z-index: 3;

  @media (max-width: 650px) {
    padding-top: 30px;
  }
}

.rest__title {
  display: inline-block;
  position: relative;
  left: 40px;
  font-size: 38px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 0;

  br {
    display: none;

    @media (max-width: 650px) {
      display: block;
    }
  }

  @media (max-width: 650px) {
    left: 0;
  }

  &::before {
    content: '';
    width: 261px;
    height: 1px;
    background-color: $blue;
    left: -277px;
    @include y-align;
    position: absolute;
  }
}

.rest__subtitle {
  max-width: 825px;
  @include h3;
  font-size: 36px;
  font-weight: 300;
  color: $blue;
  margin-bottom: 24px;
  line-height: 1.15;

  @include mobile-mb;

  @media (max-width: 650px) {
    font-size: 20px !important;
  }
}

.rest__content {
  & > * + * {
    margin-top: 30px;
  }
}

.rest__text-box {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 445px;

  @media (max-width: 650px) {
    padding: 0 !important;
  }

  &::before {
    z-index: -1;
    content: '';
    height: 100%;
    width: 5000px;
    position: absolute;
    @include y-align;
    background-color: #eef2f3;

    @media (max-width: 650px) {
      content: none;
    }
  }

  &::after {
    content: '';
    position: absolute;

    @media (max-width: 650px) {
      position: relative;
      display: block;
      left: 0 !important;
      right: 0 !important;
      @include x-align;
      margin-top: 30px;
    }
  }

  &:nth-child(1)::after {
    width: 1040px;
    aspect-ratio: 1040/148;
    top: 0;
    left: calc(445px + 30px);
    @include bg;
    background-image: url('/src/img/gallery/rest/1.jpg');
  }
  &:nth-child(3)::after {
    width: 1040px;
    aspect-ratio: 1040/190;
    top: 0;
    left: calc(445px + 30px);
    @include bg;
    background-image: url('/src/img/gallery/rest/3.jpg');
  }
  &:nth-child(2)::after {
    width: 945px;
    aspect-ratio: 945/232;
    top: 0;
    left: calc(-945px - 30px);
    @include bg;
    background-image: url('/src/img/gallery/rest/2.jpg');
  }
  &:nth-child(4)::after {
    width: 945px;
    aspect-ratio: 945/127;
    top: 0;
    left: calc(-945px - 30px);
    @include bg;
    background-image: url('/src/img/gallery/rest/4.jpg');
  }

  &:nth-child(1),
  &:nth-child(3) {
    padding-right: 32px;

    &::before {
      right: 0;
    }
  }

  &:nth-child(2),
  &:nth-child(4) {
    padding-left: 32px;
    margin-left: auto;
    max-width: 540px;

    &::before {
      left: 0;
    }
  }
}

.rest__text {
  margin-bottom: 0;
  b {
    font-weight: 500;
  }

  @media (max-width: 650px) {
    background-color: #eef2f3;
    padding: 20px;
  }
}
